.collectionButton {
  padding: rem(1px) var(--mantine-spacing-xs);
  text-decoration: none;
  border-radius: rem(0px);
  font-size: var(--mantine-font-size-xs);
  line-height: 1;
  font-weight: 500;
}
